<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KiddyTill.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KiddyTill.Properties.Settings>
            <setting name="ProductsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="FlipCameraPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
        </KiddyTill.Properties.Settings>
    </userSettings>
</configuration>